# Turn on the rewrite engine
Options +FollowSymlinks
RewriteEngine on
 
# Request routing
RewriteRule ^([a-zA-Z]*)/([a-zA-Z-_]*)\.(html|json|xml)?$   index.php?component=$1&method=$2&format=$3 [nc,qsa]